<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/singularity/images/icon/favicon.ico"
    />
    <title>Activate your account</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/singularity/script/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <!-- css -->
    <link
      rel="stylesheet"
      href="/singularity/script/css/style-c.min.css"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="../script/css/bootstrap.min.css">
    <link rel="stylesheet" href="../script/css/style-c.min.css"> -->
  </head>

  <body class="bg-color">
    <!-- <img src="../images/bg-login-desktop.png" alt="" class="bg">
    <div class="logo">
        <img style="cursor: pointer;" onclick="goToHome()" src="../images/main_logo.png" alt="">
    </div> -->
    <div class="content-activation" id="form-sign">
      <div class="row justify-content-center align-self-center">
        <h3 style="margin-top: 30%" class="text-ls" id="message"></h3>
      </div>
    </div>

    <div
      style="margin-top: 209px"
      class="footer-inmobile content-footer row logo-forgot-new pt-5"
    >
      <div class="row mx-auto col-md-10">
        <div class="col-1 mr-5 mb-5">
          <img
            id="aiaplogo"
            src="/singularity/images/aisplayground.png"
            width="45px"
            height="59.27px"
          />
        </div>
        <!-- <div class="col-1"> -->
        <div class="Line-12"></div>
        <!-- </div> -->
        <div class="col-3 mx-auto center">
          <img
            id="magellanlogo"
            src="/singularity/images/aispartnermgmt.png"
            width="151px"
            height="53.74px"
          />
        </div>
        <!-- <div class="col-1"> -->
        <div class="Line-12"></div>
        <!-- </div> -->
        <div class="col-3 mx-auto center">
          <img
            id="milkywaylogo"
            src="/singularity/images/AIAP_Logo.png"
            width="143.29px"
            height="62.74px"
          />
        </div>
        <!-- <div class="col-1"> -->
        <div class="Line-12"></div>
        <!-- </div> -->
        <div class="col-2 mx-auto center">
          <img
            id="magellanlogo"
            src="/singularity/images/MAGELLAN_5x5cm.png"
            width="72px"
            height="72px"
          />
        </div>
        <!-- <div class="col-1"> -->
        <div class="Line-12"></div>
        <!-- </div> -->
        <div class="col-2 mx-auto center">
          <img
            id="milkywaylogo"
            src="/singularity/images/MILKYWAY_5x5cm.png"
            width="72px"
            height="72px"
          />
        </div>
      </div>
    </div>
    <div class="box-blue"></div>
    <div class="box-yellow"></div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="/singularity/script/js/jquery-3.3.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="/singularity/script/js/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="/singularity/script/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="/singularity/script/js/goToHome.js"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="../script/js/jquery-3.3.1.min.js"></script>
    <script src="../script/js/popper.min.js"></script>
    <script src="../script/js/bootstrap.min.js"></script>
    <script src="../script/js/goToHome.js"></script> -->
    <!-- Optional JavaScript -->
    <script>
      $(function () {
        const code = "<%= code %>" || "500";
        $.getJSON("/singularity/script/js/error.const.json", function (data) {
          console.log("data: ", data);
          // default
          $("#message").text(
            "ขออภัย ระบบไม่สามารถให้บริการ ได้ขณะนี้กรุณาเข้าใช้บริการใหม่ภายหลัง"
          );
          if (data) {
            for (d of data) {
              if (code === d.code) {
                $("#message").text(d.message);
              }
            }
          }
        });
      });
    </script>
  </body>
</html>
