<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/singularity/images/icon/favicon.ico"
    />
    <title>Change password</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/singularity/script/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/singularity/script/css/style-c.min.css"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="../script/css/bootstrap.min.css">
    <link rel="stylesheet" href="../script/css/style-c.min.css"> -->
  </head>

  <body class="bg-color">
    <!-- <img src="../images/bg-login-desktop.png" alt="" class="bg">
    <div class="logo">
        <img style="cursor: pointer;" onclick="goToHome()" src="../images/main_logo.png" alt="">
    </div> -->
    <div class="content-activation" id="form-sign">
      <!-- START Login from -->
      <div class="row mt-5 pt-5">
        <div class="col-md-12 text-center mt-3">
          <img src="/singularity/images/correct.png" />
          <!-- <img src="../images/correct.png"> -->
        </div>
      </div>
      <h2 class="h-content text-sgl-success2 pt-3" style="color: #f14168">
        SUCCESSFULLY
      </h2>
      <h5 class="text-center mt-3">
        Please check your email to reset new password.
      </h5>
    </div>
    <div class="box-blue"></div>
    <div class="box-yellow"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="/singularity/script/js/jquery-3.3.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="/singularity/script/js/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="/singularity/script/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="/singularity/script/js/goToHome.js"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="../script/js/jquery-3.3.1.min.js"></script>
    <script src="../script/js/popper.min.js"></script>
    <script src="../script/js/bootstrap.min.js"></script>
    <script src="../script/js/goToHome.js"></script> -->
  </body>
</html>
